<!-- <p>home works!</p> -->
<section class="home" id="home">
  <div class="container-fluid">
    <div class="figure">
      <div class="slide">
        <div class="image animate img1">
          <img
            src="../../../assets/homeCarousel1.png"
          />
        </div>
        <div class="content">
          <h2 class="h2_text">Freshly home made meals</h2>
          <span class="home_con">cooked with love</span>
          <h2 class="h2_text">in your own neighbourhood</h2>
        </div>
      </div>
      <div class="slide">
        <div class="image animate img2">
          <img
            src="../../../assets/homeCarouse2.png"
          />
        </div>
        <div class="content">
          <h2 class="h2_text">Experience the</h2>
          <span class="home_con">taste of home</span>
          <h2 class="h2_text">wherever you are.</h2>
        </div>
      </div>
      <div class="slide">
        <div class="image animate img3">
          <img src="../../../assets/homeCarousel3.png" />
        </div>
        <div class="content">
          <h2 class="h2_text">Healthy and yummy Food</h2>
          <span class="home_con">Say bye bye to Fast food</span>
          <h2 class="h2_text">Taste and enjoy the yummy food</h2>
        </div>
      </div>
      <div class="slide">
        <div class="image animate img2">
          <img
            src="../../../assets/homeCarousel4.png"
          />
        </div>
        <div class="content">
          <h2 class="h2_text">Say goodbye to fast food</h2>
          <span class="home_con">and hello to family-style dinners</span>
          <h2 class="h2_text">delivered straight to your door</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="slideshow" id="slideshow">
  <h1 class="slideshow_heading">Our Foods</h1>
  <div class="slideshow_images">
    <img
      src="../../../assets/foodImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FoodImage2.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FullMealImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/caliFlowerImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/foodImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FoodImage2.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FullMealImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/caliFlowerImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/foodImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FoodImage2.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FullMealImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/caliFlowerImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/foodImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FoodImage2.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/FullMealImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/caliFlowerImage.png"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
    <img
      src="../../../assets/briyaniImage.jpg"
      alt="image1"
      width="10%"
      height="20%"
      class="foodImg"
    />
  </div>
</section>

<section id="mealPlanRadio">
  <div>
    <h2>Explore Meal</h2>
    <label class="option_meal">
      <input
        type="radio"
        name="test"
        value="small"
        checked
        (click)="selectMeal('veg_meal')"
      />
      <h4>VEG</h4>
    </label>
    <label class="option_meal">
      <input
        type="radio"
        name="test"
        value="big"
        (click)="selectMeal('non_veg_meal')"
      />
      <h4>NONVEG</h4>
    </label>
    <label class="option_meal">
      <input
        type="radio"
        name="test"
        value="big"
        (click)="selectMeal('alternate_meal')"
      />
      <h4>ALTERNATE</h4>
    </label>
    <label class="option_meal">
      <input
        type="radio"
        name="test"
        value="big"
        (click)="selectMeal('dishduo_meal')"
      />
      <h4>DISHDUO</h4>
    </label>
  </div>
  <div id="selection_mealOptional">
    <div *ngIf="selectedMeal === 'veg_meal'" class="selection_meal">
      <img src="../../../assets/vegStandard.png" alt="veg_standard" />
      <img src="../../../assets/vegMiniImg.png" alt="veg_mini" />
    </div>
    <div *ngIf="selectedMeal === 'non_veg_meal'" class="selection_meal">
      <img src="../../../assets/nonvegStandard.png" alt="nonveg_standard" />
      <img src="../../../assets/nonVegMini.png" alt="nonveg_mini" />
    </div>
    <div *ngIf="selectedMeal === 'alternate_meal'" class="selection_meal">
      <img
        src="../../../assets/alternatestandard1.png"
        alt="alternate_standard"
      />
      <img src="../../../assets/alternateMini.png" alt="alternate_mini" />
    </div>
    <div *ngIf="selectedMeal === 'dishduo_meal'" class="selection_meal">
      <img
        src="../../../assets/dishduoimage.png"
        alt="dishduo_standard"
      />
      <img src="../../../assets/dishduoMini.png" alt="dishduo_mini" />
    </div>
  </div>
  <div class="meal_button">
    <h3 (click)="gotoLogin()">PLACE ORDER</h3>
  </div>
  <div class="meal_button">
    <h3 (click)="gotoLogin()">PLACE ORDER</h3>
  </div>
</section>

<section id="Review">
  <h2 class="d-flex justify-content-center pt-5 pb-5 about">REVIEWS</h2>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/preetha.jpg"
            alt="Card image"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Preetha</h4>
            <p class="card-text">
              Flavours of Folksy has redefined my dining experience in Chennai. The curated selection of homemade meals celebrates the diversity of flavors and traditions within the city. Each dish tells a story, from the hands that lovingly prepared it to the ingredients sourced from local markets. Whether I'm craving a comforting bowl of sambar or a decadent dessert, They never disappoints. It's refreshing to support a platform that values authenticity and community as much as I do.
            </p>
            <p class="card-text">⭐⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/kiki.jpg"
            alt="Card image"
            height="285px"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Keerthana</h4>
            <p class="card-text">
              Flavours of Folksy has quickly become my go-to recommendation for anyone craving authentic homemade meals in Chennai. The dedication to showcasing local talent and tradition is evident in every dish. From traditional recipes passed down through generations to innovative twists on classic favorites, Flavours of Folksy offers a culinary experience like no other. It's a pleasure to support such a meaningful initiative that celebrates the power of women in the kitchen.
            </p>
            <p class="card-text">⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/sowndharya.jpg"
            alt="Card image"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Sowndharya</h4>
            <p class="card-text">
              Finding healthy yet flavorful meal options can be a challenge, but Flavours of Folksy has made it effortless. Their menu offers a variety of nutritious dishes made with fresh, locally sourced ingredients. I appreciate knowing exactly what goes into my meal and supporting local chefs who prioritize quality and authenticity. Flavours of Folksy has become my go-to for guilt-free dining without compromising on taste Savor guilt-free dining without compromising on flavor!
            </p>
            <p class="card-text">⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/roshani.jpg"
            alt="Card image"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Roshani</h4>
            <p class="card-text">
              Flavours of Folksy embodies the essence of culinary passion and community empowerment. As a chef myself, I appreciate the platform's dedication to showcasing homemade meals crafted with love and tradition. It's inspiring to see talented women sharing their culinary skills while also fostering financial independence. The authenticity and convenience offered by them make it a true gem in Chennai's culinary landscape.
            </p>
            <p class="card-text">⭐⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/Bakya.jpg"
            alt="Card image"
            height="285px"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Bakya</h4>
            <p class="card-text">
              As someone with a hectic schedule, Flavours of Folksy has been a lifesaver for me. The convenience of ordering authentic homemade meals, especially during busy workdays, is unparalleled. Not only does it satisfy my cravings for home-cooked dishes, but it also supports local chefs, predominantly women, in their entrepreneurial endeavors. This is more than just a food delivery service; it's a testament to the power of community and tradition.
            </p>
            <p class="card-text">⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/ramya.jpg"
            alt="Card image"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Ramya</h4>
            <p class="card-text">
              Being away from home for studies can be challenging, especially when it comes to finding comforting, homemade meals. Flavours of Folksy has been a game-changer for me. Their diverse menu of traditional dishes reminds me of home, and the quality is exceptional. It's reassuring to know that I can enjoy nourishing meals prepared by talented chefs, all while supporting local women in Chennai. Flavours of Folksy has truly made my student life easier and more delicious.
            </p>
            <p class="card-text">⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/deepika.jpg"
            alt="Card image"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Deepika</h4>
            <p class="card-text">
              Juggling parenthood with work commitments leaves little time for meal preparation, which is why Flavours of Folksy has been a godsend for my family. The convenience of ordering homemade meals that are both nutritious and delicious has been a game-changer for us. Knowing that we're supporting local chefs, predominantly women, adds an extra layer of satisfaction to our dining experience. It truly understands the needs of busy families like ours, and we're grateful for their dedication to providing quality meals.
            </p>
            <p class="card-text">⭐⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/ishu.jpg"
            alt="Card image"
            height="285px"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Ishwarya</h4>
            <p class="card-text">
              As someone who values the art of home cooking, I admire what Flavours of Folksy stands for. Their platform not only provides a convenient way to enjoy homemade meals but also empowers local chefs, particularly women, to showcase their culinary skills. The dishes offered are a delightful mix of tradition and innovation, ensuring that every bite is packed with flavor and nostalgia. Flavours of Folksy is more than just a food delivery service; it's a testament to the rich culinary heritage of Chennai.
            </p>
            <p class="card-text">⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card m-3">
          <img
            class="card-img-top"
            src="../../../assets/sunitha.jpg"
            alt="Card image"
          />
          <div class="card-body text-dark">
            <h4 class="card-title">Sunitha</h4>
            <p class="card-text">
              Flavours of Folksy exemplifies the spirit of entrepreneurship and community support. As a small business owner myself, I appreciate the platform's commitment to empowering local chefs, especially women, through their culinary skills. The impact of Flavours of Folksy extends beyond delicious meals; it creates economic opportunities and fosters a sense of belonging within the community. Ordering from Flavours of Folksy isn't just about satisfying hunger; it's about investing in the future of Chennai's culinary scene.
            </p>
            <p class="card-text">⭐⭐⭐⭐</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
  <footer>
    <div>
      <div class="address_txt">
        <p style="padding-right: 2%">
          <i class="fa-solid fa-location-dot"></i>&nbsp;Address
        </p>
        <ul>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;20th St, S Block,</li>
          <li>Anna Nagar,Chennai,</li>
          <li>&nbsp;Tamil Nadu 600040</li>
        </ul>
      </div>
      <hr />
      <div class="social_media">
        <h2>Follow Us :</h2>
        <ul>
          <li><i class="fa-brands fa-square-facebook"></i></li>
          <li><i class="fa-brands fa-square-instagram"></i></li>
          <li><i class="fa-brands fa-square-whatsapp"></i></li>
          <li><i class="fa-brands fa-square-twitter"></i></li>
        </ul>
      </div>
      <hr />
      <div class="rights_footer">
        <p>All Rights Reserved &copy; 2024 Flavours Of Folksy </p>
      </div>
    </div>
  </footer>

